@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272829;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #393e46;
}

.App {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #121212;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
  width: 60%;
  min-width: 600px;
  max-width: 800px;
  border-radius: 20px;
  height: 100vh;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  width: 100px;
  border: 2px solid white;
  margin: 20px 20px 20px 20px;
  color: white;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.btn:hover .underline {
  left: 0;
}

.underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  left: -200px;
  background: white;
  position: absolute;
  -webkit-transition: all .3s ease-Out;
  transition: all .3s ease-Out;
  bottom: 0;
}

.react-datetimerange-picker {
  z-index: 9;
  color: white;
}

.react-datetimerange-picker .react-datetimerange-picker__wrapper {
  border: 1px solid white;
}

.react-datetimerange-picker__inputGroup__input {
  color: white;
}

.react-datetimerange-picker__button svg {
  stroke: white;
}

.react-calendar__month-view__weekdays__weekday {
  color: black;
}

.date-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.date-input p {
  margin-bottom: 10px;
}

.search-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  border-radius: 20px;
  padding: 20px 0;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #00989b 0.1%, #005e78 94.2%);
}

.search-box-container input {
  text-align: center;
  width: 150px;
  height: 1.5em;
}

.search-input {
  margin-bottom: 1em;
}

.btn {
  margin: 3px 5px;
  height: 2em;
}

.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.options-container select {
  width: 150px;
  height: 2em;
  text-align: center;
}

.query-list-container {
  width: 90%;
}

.query-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4em;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.query-list-wrapper .query-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0.2em;
  height: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.query-list-wrapper .query-item:hover {
  background-color: #121212;
}

.nav-bar-container {
  z-index: 1;
  width: 60%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
}

.nav-bar-container .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  width: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  border: 3px solid #f7727200;
}

.nav-bar-container .selected {
  border-bottom: 3px solid white;
}

.nav-bar-container .nav-icon {
  color: white;
  size: 100px;
}

.social-media-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 90%;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  border-radius: 20px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.share-container {
  overflow-y: auto;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #00989b 0.1%, #005e78 94.2%);
  border-radius: 0 0 20px 20px;
  height: 100%;
}

.share-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1em 0;
}

.share-wrapper a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.content {
  padding: 5px 20px;
}

.youtube-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumbnail {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}

.title {
  margin: 5px;
}

.meta-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid white;
}

.metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 5px;
  width: 90%;
  height: 3vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  stroke: 2px;
  font-size: 1.2em;
}

.pointer {
  cursor: pointer;
  margin-left: 5px;
}

.metric {
  margin: 0 5px;
  padding: 0;
  font-style: normal;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.share-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.share-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 5px;
  vertical-align: middle;
}

.sums {
  display: inline;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5em;
  width: auto;
  height: auto;
  border-bottom: 2px solid white;
  border-radius: 20px 20px 0 0;
}

.sums section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sums section div {
  margin: 0.5em;
}

.no-data {
  margin: auto;
  font-weight: bold;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em;
  text-align: center;
}

.table-container {
  width: 100%;
  overflow: auto;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 40vh;
  margin-top: 20px;
  padding: 30px 0;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  border-radius: 20px;
  overflow: auto;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #00989b 0.1%, #005e78 94.2%);
}

table {
  border-collapse: separate;
}

tbody {
  width: 100%;
  max-height: 10vh;
  overflow: auto;
}

th, td {
  text-align: center;
  width: 10%;
  height: 1.5em;
}

td {
  background-color: #121212;
  padding: 0.5em;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #00989b 0.1%, #005e78 94.2%);
  border-radius: 20px 20px 0 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.back-arrow, .brand {
  cursor: pointer;
}

.open {
  background-color: firebrick;
  margin: 1em;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .search-box-container {
    height: 30vh;
    border-radius: 0;
    padding-top: 3rem;
  }
  .date-input {
    margin-top: 1rem;
  }
  .search-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 66%;
    margin: 1rem;
  }
  .search-input input {
    height: 2rem;
    -ms-flex-preferred-size: 96%;
        flex-basis: 96%;
  }
  .search-input .btn {
    margin: 0.5rem;
    height: 2rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .nav-item svg {
    scale: 1.5;
  }
  .table {
    margin: 1vh;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 58vh;
    border-radius: 0;
  }
  .social-media-item {
    height: 100vh;
    width: 100vw;
  }
  .header {
    padding: 2rem;
  }
  .header-container {
    border-radius: 0;
  }
  .header svg {
    scale: 1.5;
  }
  .share-wrapper {
    padding: 1rem;
    width: 90%;
  }
  .share-container {
    border-radius: 0;
  }
  .query-list-container {
    width: 66%;
  }
}
/*# sourceMappingURL=style.css.map */