* {
  margin: 0;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Arial";
  overflow-x: hidden;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393e46;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #393e46;
}

.App {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #393e46;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  margin: 20px 0;
  padding: 5px 0;
  width: 60%;
  min-width: 600px;
  max-width: 800px;
  border-radius: 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  width: 100px;
  border: 2px solid white;
  margin: 20px 20px 20px 20px;
  color: white;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.btn:hover .underline {
  left: 0;
}

.underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  left: -200px;
  background: white;
  position: absolute;
  -webkit-transition: all .3s ease-Out;
  transition: all .3s ease-Out;
  bottom: 0;
}

.react-datetimerange-picker {
  z-index: 9;
  color: white;
}

.react-datetimerange-picker .react-datetimerange-picker__wrapper {
  border: 1px solid white;
}

.react-datetimerange-picker__inputGroup__input {
  color: white;
}

.react-datetimerange-picker__button svg {
  stroke: white;
}

.react-calendar__month-view__weekdays__weekday {
  color: black;
}

.date-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.search-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.search-box-container input {
  text-align: center;
  width: 150px;
  height: 1.5em;
}

.search-input {
  height: 50%;
}

.btn {
  margin: 3px 5px;
  height: 2em;
}

.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.options-container select {
  width: 150px;
  height: 2em;
  text-align: center;
}

.nav-bar-container {
  z-index: 1;
  width: 60%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
}

.nav-bar-container .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5vh;
  margin: 0 20px;
  border: 3px solid #52282800;
}

.nav-bar-container .nav-item:hover {
  -webkit-filter: hue-rotate(30deg);
          filter: hue-rotate(30deg);
}

.nav-bar-container .selected {
  border-bottom: 3px solid white;
}

.nav-bar-container .nav-icon {
  color: white;
  size: 100px;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #6998AB;
  height: calc(85vh - 70px);
  border-radius: 20px;
}

.social-media-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1em 0;
}

.share-container a {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.content {
  padding: 5px 20px;
}

.youtube-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumbnail {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}

.title {
  margin: 5px;
}

.meta-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid white;
}

.metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 5px;
  width: 90%;
  height: 3vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  stroke: 2px;
  font-size: 1.2em;
}

.metric {
  margin: 0 5px;
  padding: 0;
  font-style: normal;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.share-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.share-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 5px;
  vertical-align: middle;
}

.sums {
  display: inline;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5em;
  height: auto;
  width: auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.sums section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.no-data {
  margin: auto;
  font-weight: bold;
}

.dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */